<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="messageConnectionString" connectionString="Data Source='LAPTOP-APHBPCM5\sqlexpress';Integrated Security=True;Pooling=False;Initial Catalog='message'"
   providerName="System.Data.SqlClient" />
  <add name="messageConnectionString2" connectionString="Data Source=LAPTOP-APHBPCM5\sqlexpress;Initial Catalog=message;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="messageConnectionString3" connectionString="Data Source=LAPTOP-APHBPCM5\sqlexpress;Initial Catalog=message;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="messageConnectionString4" connectionString="Data Source=LAPTOP-APHBPCM5\sqlexpress;Initial Catalog=message;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
